#Description of  Prof. Farnsworth's ship --All are var names, need to fillin the val 

[default]

name = {{ ship_name }}

type = {{ ship_type  }}

engine_type = {{ engines }}

Dark_matter_max_capacity = {{ dark_Matter_balls }}

sales_price = {{ ship_price_in_beans }}

anti_matter_afterburner = true
